.u-section-1 {
  min-height: 848px;
}

.u-section-1 .u-sheet-1 {
  min-height: 848px;
}

.u-section-1 .u-layout-wrap-1 {
  pointer-events: auto;
  width: 1140px;
  margin: 1px auto 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 636px;
  pointer-events: auto;
  background-image: none;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  background-image: none;
  margin: 20px auto 0;
  padding: 23px 51px 23px 50px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  background-image: none;
  margin: 40px 0 0;
  padding: 23px 46px 23px 45px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  background-image: none;
  margin: 43px 0 0;
  padding: 22px 52px 24px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  background-image: none;
  margin: 46px 0 0;
  padding: 22px 52px 24px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  background-image: none;
  margin: 43px 0 0;
  padding: 23px 40px 24px;
}

.u-section-1 .u-image-1 {
  min-height: 636px;
  pointer-events: auto;
  background-image: url("images/pexels-mwabonje-16949001.jpg");
  background-position: 50% 56.3%;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 56px 128px 0 193px;
}

.u-section-1 .u-text-2 {
  width: 539px;
  font-size: 1.5rem;
  margin: 30px auto 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.5rem;
  width: 539px;
  margin: 52px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 627px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-bottom: 1px;
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 524px;
  }

  .u-section-1 .u-btn-4 {
    width: 123px;
    height: 72px;
  }

  .u-section-1 .u-image-1 {
    min-height: 524px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 123px;
    margin-left: 116px;
    width: 361px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 5px;
  }
}

@media (max-width: 991px) {
  .u-section-1 {
    min-height: 710px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 401px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 101px;
    margin-left: 58px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 4px;
    width: 492px;
  }

  .u-section-1 .u-text-3 {
    width: 492px;
  }
}

@media (max-width: 767px) {
  .u-section-1 {
    min-height: 820px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    min-height: 392px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 107px;
  }
}

@media (max-width: 575px) {
  .u-section-1 {
    min-height: 649px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-image-1 {
    min-height: 247px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 66px;
    margin-left: 0;
    width: 320px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 2px;
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    width: 320px;
  }
}